/* .welcome{
    height: 100vh;
    background-color: #68ca5d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */




.App {
    text-align: center;
    overflow: hidden;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #68ca5d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.App-header button{
    margin :10px;
    font-size: 20px;
    border: 1px thin white;

}
.App-header img{
    width: 700px;
}
.App-header h1{
    color: white;
}
  
  
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  