.sectionFeatureContainer{
    width: 260px;
    height: 90%;
    margin: 5px 3px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fImg{
    width: 80%;
    height: 70%;
    box-shadow: 1px 1px 4px rgb(117, 117, 117);
}
.fImg:hover{
    width: 82%;
    height: 72%;
}